<div ng-controller="executive">

<!-- forma ZA dodavanje modela ONE -->
<form>
		<div class="form-group">
			<label for="inputOne">Name</label>
			<input class="form-control" id="inputOne" ng-model="newModelOne.name" />
		</div>
		
		<div class="form-group">
			<label for="inputTwo">ModelTwo</label>
			<select class="form-control" id="inputTwo" ng-model="newModelOne.modelTwoID">
				<option ng-repeat="mt in modelTwos" value="{{mt.id}}">{{mt.naziv}}</option>
			</select>
		</div>

		<button class="btn btn-primary" ng-click="doAdd()">Add</button>

</form>


<form >
	<div class="form-group">
	<label for="sone">Name</label>
	<input class="form-control" id="sone" ng-model="searchParams.name">
	</div>
	<!--
	<div class="form-group" >
	<label for="stwo"></label>
	<input class="form-control"  id="stwo" ng-model="">
	</div>
	<div class="form-group" >
	<label for="sthee"></label>
	<input class="form-control" id="sthee" ng-model="">
	</div>
	s-->
	<button ng-click="doSearch()" class="btn btn-info">Search</button>
</form>


<br/>
	<div class="btn-group  prevNext">
		<button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-secondary"><i class="fa fa-angle-double-left colorArr" aria-hidden="true"></i></button>
		<button ng-disabled="pageNum == totalPages - 1" ng-click="changePage(1)" class="btn btn-secondary"><i class="fa fa-angle-double-right colorArr" aria-hidden="true"></i></button>
	</div>
	
<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Thing 1</th>
				<th>Thing 2</th>
				<th>Thing 3</th>
				<th>Thing 4</th>
				<th>Thing 5</th>
				<th>Thing 6</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="m in modelOnes">
				<td>{{m.name}}</td>
				<td>{{m.id}}</td>
				<td>{{m.modelTwoID}}</td>
				<td>{{m.modelTwoname}}</td>
				
				<td>
					<button class="btn btn-warning" ng-click="goToEdit(m.id)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
					<button class="btn btn-danger" ng-click="doDelete(m.id)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
					<button class="btn btn-info" ng-click="doSomething(m.id)">
						Something
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	
</div>